---
import FooterSidebar from './FooterSidebar.astro';
import LayoutCommon from './LayoutCommon.astro';
import NavBarSidebar from './NavBarSidebar.astro';
import SideBar from './SideBar.astro';
---

<LayoutCommon>
	<NavBarSidebar />

	<SideBar />

	<div class="flex mt-14 lg:mt-0 pt-8 overflow-hidden bg-[#eeece8]">
		<div
			id="main-content"
			class="relative w-full h-full overflow-y-auto lg:ml-32"
		>
			<slot />

			<FooterSidebar />
		</div>
	</div>
</LayoutCommon>
