<p class="my-10 text-sm text-center text-gray-500">
	Powered by
	<a href="https://github.com/thisisthepy/PUBLIKAI" class="hover:underline" target="_blank"
		>PUBLIKAI</a
	> | {new Date().getFullYear()}
</p>
